.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  height: 75px;
  padding: 0 10px !important;
  margin-left: 15px !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.button svg {
  color: #008f38;
}

.button:hover {
  background-color: transparent !important;
  color: inherit;
}

.button:hover .box {
  background-color: #008f38;
}

.button:hover svg {
  color: white;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.buttonLogo {
  color: inherit !important;
}

.logo {
  width: 255px;
  height: 72px;
}